div.gallery {
  margin: 40px auto;
  padding-bottom: 20px;
  border: 1px solid #ccc;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
}

div.gallery img {
  margin-top: 20px;
  width: 300px;
  height: 300px;
}
div.gallery-courses {
  margin: 40px auto;
  padding-bottom: 20px;
  border: 1px solid #ccc;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
}

div.gallery-courses img{
  margin-top: 20px;
  //margin-right: 50px;
  //margin-left: 20px;
  width: 300px;
  height: 300px;
  //padding-left: 50px;
}

.padding-top {
  padding-top: 10px;
  padding-bottom: 10px;
}

div.gallery:hover {
  border: 1px solid #777;
}

.active {
  background-color: lightblue;
}


div.desc {
  padding: 0;
  text-align: center;
  color: #1a63ab;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
}

@media screen and (max-width:768px) {
  div.gallery img {

    width: 200px;
    height: 200px;
    align-content: center;
    float: none;
    margin: 5px auto;
  }

  div.gallery {
    margin: 30px auto;
    padding-bottom: 20px;
    border: 1px solid #ccc;
    width: 90%;
    display: block;


  }

  div.gallery-courses {
    //margin: 90px auto;
    padding-bottom: 20px;
    border: 1px solid #ccc;
    width: 90%;
    display: block;
  }

  div.gallery-courses img {
    //margin: 0 auto;
    margin-top: 20px;
    //margin-right: 50px;
    //margin-left: 20px;
    width: 200px;
    height: 200px;
    align-content: center;
    //display: block;
    //float: left;
  }


  div.desc {
    padding: 0px;
    text-align: center;
    color: #1a63ab;
    margin: 0 auto;
    display: block;
  }
}


@media screen and (min-width: 1024px){
  //div.gallery-courses {
  //  margin: 5px auto;
  //  padding-bottom: 20px;
  //  border: 1px solid #ccc;
  //  width: 90%;
  //  display: block;
  //}

  div.gallery-courses img {
    margin-top: 20px;
    //margin-right: 50px;
    //margin-left: 20px;
    width: 300px;
    height: 300px;
    align-content: center;
  }

  .margin-left {
    margin: 0;
  }

  div.desc{
    align-content: center;
    margin: 0 auto;
    text-align: center;
  }
}

/* ----------- iPhone 4 and 4S ----------- */
/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
  .active {
    padding-top: 0;
  }

  div.gallery-courses img {
    margin-left: 0;
    margin-right: 0;
  }
}
/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3) {

}

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {
  div.gallery-courses img{
    width: 200px;
    height: 200px;
  }

  div.gallery a{
    justify-content: center;
  }


  table{
    height: 70%;
  }
  div.gallery {
    padding-left: 5px;
  }
  div.gallery img {
    margin-top: 20px;
    //margin-right: 50px;
    //margin-left: 20px;
    width: 200px;
    height: 200px;
    float: none;
  }

  div.desc {
    text-align: center;
    margin-left: 5px;
  }
}
