div.gallery {
  margin: 5px auto;
  padding-bottom: 20px;
  border: 1px solid #ccc;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
}

div.gallery-courses {
  margin: 5px auto;
  padding-bottom: 20px;
  border: 1px solid #ccc;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
}

div.gallery img {
  margin-top: 20px;
  margin-right: 50px;
  margin-left: 20px;
  width: 350px;
  height: 350px;
}

div.gallery-courses img{
  margin-top: 20px;
  margin-right: 50px;
  margin-left: 20px;
  width: 350px;
  height: 350px;
}

.padding-top {
  padding-top: 10px;
  padding-bottom: 10px;
}

div.gallery:hover {
  border: 1px solid #777;
}

.active {
  background-color: lightblue;
}


div.desc {
  padding: 0px;
  text-align: left;
  color: #1a63ab;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 50px;
  display: block;
}

@media screen and (max-width:768px) {
  div.gallery img {
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 20px;
    width: 200px;
    height: 200px;
    align-content: center;
  }
    
  div.gallery {
    margin: 30px auto;
    padding-bottom: 20px;
    border: 1px solid #ccc;
    width: 90%;
    display: block;
    //overflow: hidden;
    //grid-template-columns: 1fr 2fr;
    //column-gap: 20px;
  }
  
  div.gallery-courses {
    margin: 90px auto;
    padding-bottom: 20px;
    border: 1px solid #ccc;
    width: 90%;
    display: block;
  }

  div.gallery-courses img {
    //margin: 0 auto;
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 20px;
    width: 200px;
    height: 200px;
    align-content: center;
    //display: block;
    //float: left;
  }
  
  
  div.desc {
    padding: 0px;
    text-align: center;
    color: #1a63ab;
    margin: 0 auto;
    display: block;
  }
}


@media screen and (min-width: 1024px){
  //div.gallery-courses {
  //  margin: 5px auto;
  //  padding-bottom: 20px;
  //  border: 1px solid #ccc;
  //  width: 90%;
  //  display: block;
  //}

  div.gallery-courses img {
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 20px;
    width: 350px;
    height: 350px;
    align-content: center;
  }
  
  .margin-left {
    margin: 0px;
  }
  
  div.desc{
    align-content: center;
    margin: 0 auto;
    text-align: center;
  }
}
