div.gallery {
  margin-right: 20px;
  margin-left: 10px;
  margin-bottom: 0px;
  margin-top: 30px;
  border: 1px solid #ccc;
  display: flex;
  float: left;
  width: 100%;
  height: 500px;
  text-align: left;
}


div.gallery:hover {
  border: 1px solid #777;
}

.active {
  background-color: lightblue;
}

div.gallery img {
  margin-top: 20px;
  margin-right: 50px;
  margin-left: 20px;
  width: 350px;
  height: 350px;
}

div.desc {
  padding: 0px;
  text-align: left;
  color: #1a63ab;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 50px;
  display: block;
}

.courses-vertical-container {
  //display: inline-block;
  //margin-left: 20px;
  //width: 100%;
  //padding-bottom: 40px;
}
