div.gallery {
  padding-top: 1%;
  //position: inherit;
  
  //margin-right10 10px;
  //margin-bottom: 10px;
  //border: 1px solid #ccc;
  //display: block;
  //float: left;
  //width: 100%;
  //width: 270px;
  //height: 270px;
}

div.gallery:hover {
  border: 1px solid #777;
}

.active {
  padding-top: 2%;
  background-color: lightblue;
}

div.gallery img {
  width: 80%;
  height: auto;
  float: left;
}

div.desc {
  padding: 0px;
  text-align: center;
  color: #1a63ab;
  margin-top: 0px; 
}
//

@media screen and (max-width:750px) {
  
}

@media screen and (max-width:749px){

  .content-wrap {
    max-width: 749px;
    width: 100%;
    margin-top: 30%;
    margin-left: 2px;
    margin-right: 0;
    padding-top: 0;

  }
}

