//
.margin-left{
  margin-left: 50px;
}

table thead {
  font-size: 10px;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background:white;
  border-radius:6px;
  overflow-y:scroll;
  display:block;
  height: 80%;
  margin:0 auto;
  position:relative;
  text-align: left;
  width: 90%;
  //max-width:800px;
}

tbody {
  width: 80%;
}

table, th, td {
  border-left: 1px  solid darkgrey;
  border-right: 1px  solid darkgrey;
  border-bottom: 1px  solid darkgrey;;
}


th, td {
  padding: 0.22rem;
  padding-left: 10px;
}


th {
  background:#FFED86;
  //width:90%;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
}

@media screen and (max-width:749px) {
  h1 {
    font-size: 10px;
  }

  table {
    border-spacing: 1;
    border-collapse: collapse;
    background:white;
    border-radius:6px;
    overflow-y:scroll;
    display:block;
    //height: 80%;
    margin:0 auto;
    position:relative;
    text-align: left;
    width: 90%;
    //max-width:800px;
  }
  
}