.login-error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 0.25rem;
  color: #dc3545;
}


@media all and (min-width: 480px) {
  .LoginForm {
    padding: 60px 0;
  }

  .LoginForm form {
    margin: 0 auto;
    max-width: 320px;
  }
}