.Home {
  align-items: center;
  margin-left: 2px;
  padding-top: 8%;
  width: 100%;
}

.Home-my-cabinet {
  align-items: center;
  margin-left: 2px;
  padding-top: 8%;
  width: 100%;
}

.Home-Body {
  position: inherit;
  //flex: 1;
 
}

.SectionNavigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5% 10%;

}

.SectionNavigation-Item {
  border: 2px solid #f8a30a;
  margin-right: 10px;
  margin-bottom: 10px;
  position: inherit;
}

.SectionNavigation-Item-Contact-me {
  display: flex;
  align-items: center;
  border: 2px solid #f8a30a;
  width: 400px;
  height: 600px;
  margin: 0 auto;
}

.Section {
  &:hover {
    background-color: rgba($color: #f5634a, $alpha: 0.1)
  }
  padding: 40px;
  position: inherit;
}

.Section-Icon {
  width: 90px;
  height: 90px;
  fill: #f8a30a;
  position: relative;
  margin-top: -10px;
}
.Section-Icon-Big {
  width: 210px;
  height: 210px;
  fill: #1a63ab;
  position: inherit;
  margin-top: 0 auto;
}
.Section-Title {
  position: inherit;
  bottom: 10px;
  left: 0;
  width: 100%;
  margin-top: 14%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #1a63ab;
}

.Contact-me-button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.Contact-me {
  //margin-top: 3em;
  margin: 0 auto;
  width: 95%;
}

@media screen and (max-width: 768px){
  .Contact-me {
    //margin-top: 3em;
    //margin: 0 auto;
    padding-bottom: 100px;
    padding-top: 0px;
    width: 95%;
  }
}

@media screen and (max-width:414px) {
  .Home {
    align-items: center;
    margin-left: 2px;
    padding-top: 10%;
    width: 100%;
  }

  .Home-my-cabinet {
    align-items: center;
    margin-left: 2px;
    padding-top: 40%;
    width: 100%;
  }
}

@media screen and (min-width: 415px) and (max-width:616px) {
  
}

//
//@media screen and (min-width: 415px) and (max-width:748px) {
//  .Home {
//    align-items: center;
//    margin-left: 2px;
//    padding-top: 10%;
//    width: 100%;
//  }
//
//  .Home-my-cabinet {
//    align-items: center;
//    margin-left: 2px;
//    padding-top: 40%;
//    width: 100%;
//  }
//}
