.Home {
  //display: flex;
  //flex-direction: column;
  //change here to center
  align-items: center;
  //margin-top: 5%;
  padding-top: 7%;
  position: inherit;
  width: 97%;
  //padding-top: 65px;
  //margin-left: 15px;
}

.Home-Body {
  position: inherit;
  //flex: 1;
 
}

.SectionNavigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5% 10%;

}

.SectionNavigation-Item {
  border: 2px solid #f8a30a;
  margin-right: 10px;
  margin-bottom: 10px;
  position: inherit;
}

.SectionNavigation-Item-Contact-me {
  display: flex;
  align-items: center;
  border: 2px solid #f8a30a;
  width: 400px;
  height: 600px;
  margin: 0 auto;
}

.Section {
  &:hover {
    background-color: rgba($color: #f5634a, $alpha: 0.1)
  }
  padding: 40px;
  padding-bottom: 40px;
  position: inherit;
}

.Section-Icon {
  width: 90px;
  height: 90px;
  fill: #f8a30a;
  position: relative;
  margin-top: -10px;
}
.Section-Icon-Big {
  width: 210px;
  height: 210px;
  fill: #1a63ab;
  position: inherit;
  margin-top: 0 auto;
}
.Section-Title {
  position: inherit;
  bottom: 10px;
  left: 0px;
  width: 100%;
  margin-top: 14%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #1a63ab;
}

.Contact-me-button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}