.btn-primary {
  background-color: #f8a30a;
  border-color: white;
  color: #1a63ab;
}

.btn:hover {
  color: white;
  text-decoration: none;
  background: #f8a30a;
  border-color: #1a63ab;
}

.btn-primary:focus{
  color:white;
}

.btn-primary:active {
  color: #1a63ab;
}