.content-wrap-about {
  width: 90%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #1a63ab;
}

.project-item {
  overflow: hidden;
}

.project-item h3 {
  margin-top: 0;
  margin-bottom: 100px;
}


@media screen and (min-width:750px){
  header, footer {
    text-align: center;
  }
  .project-item img {
    float: left;
    margin-right: 20px;
  }

  .contact-list {
    display: flex;
    justify-content: center;
  }

}

.btn-primary-about {
  background-color: #f8a30a;
  border-color: white;
  color: #1a63ab;
}

@media screen and (max-width:750px){
  .project-item-about{
    overflow: hidden;
    align-content: center;
    flex: 1 1 50%;
    padding-bottom: 30px;
    color: #1a63ab;
  }

  .job-item {
   flex: 0 0 50%;width: 90%;
  }

  .content-wrap-about {
    //max-width: 800px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    //padding-top: 200px;
  }
}

/* ----------- iPhone 4 and 4S ----------- */
/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
  .content-wrap-contacts {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding-top: 30px;
  }
  .content-wrap-about {
    padding-top: 20px;
  }

  .project-item-about{
    padding-bottom: 5px;
  }
}
