input {
  font-size: 20px;
}

.form-wrapper {
  font-size: 25px;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #1a63ab;
  border-color: #1a63ab;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  background-color: white; /* or absolute */
}
.grid-container {
  display: grid;
  max-width: 500px;
  //max-height: 200px;
  //margin: 0 auto;
  margin: 5% auto 0 auto;
  //padding-top: 15%;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 100px 100px 100px;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgrey;
}

.grid-item-left{
  text-align: left;
  padding-left: 20px;
}

.Header {
  color: white;
  background-color: white;
  position: relative;
  //position: fixed;
  width: 100%;
  margin-top: 0;
  margin-left: 2px;
  margin-right: 0;
  padding-top: 0;
  z-index: 99999999;
}

.alert{
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  max-height: 40px;
  margin-bottom: 10px;
}


.grid-item-right{
  text-align: right;
  padding-right: 20px;
}

.grid-item-btn{
  text-align: right;
}
form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.enter-btn {
  width: 500px;
  border-width: 1px solid white;
  vertical-align: middle;
  padding-bottom: 10px;
  margin-top: 10px;
  background-color: #f8a30a;
  border-color: white;
  color: #1a63ab;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}


.btn:hover {
  color: white;
  text-decoration: none;
  background: #f8a30a;
  border-color: #1a63ab;
}

.btn-primary:focus{
  color:white;
}

.btn-primary:active {
  color: #1a63ab;
}

.buttons {
  display: block;
  padding-bottom: 5px;
}


@media screen and (max-width: 414px){

  .enter-btn {
    width: 300px;
    border-width: 1px solid white;
    vertical-align: middle;
  }
}

@media screen and (min-height: 414px)  and (min-width: 736px) {
  .grid-container {
    display: grid;
    max-width: 500px;
    //max-height: 200px;
    //margin: 0 auto;
    margin: 5% auto 0 auto;
    //padding-top: 15%;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 100px 100px 100px;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgrey;
  }
  
}