input {
  font-size: 20px;
}

.form-wrapper {
  font-size: 25px;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #1a63ab;
  border-color: #1a63ab;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  background-color: white; /* or absolute */
}
.grid-container {
  display: grid;
  max-width: 500px;
  //max-height: 200px;
  //margin: 0 auto;
  margin: 10% auto 0 auto;

  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 100px 100px 100px;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgrey;
}

.grid-item-left{
  text-align: left;
  padding-left: 20px;
}


.alert{
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  max-height: 40px;
  margin-bottom: 10px;
}


.grid-item-right{
  text-align: right;
  padding-right: 20px;
}

.grid-item-btn{
  text-align: right;
}
form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.enter-btn {
  width: 500px;
  border-width: 1px solid white;
  vertical-align: middle;
  padding-bottom: 10px;
  margin-top: 10px;
  background-color: #f8a30a;
  border-color: white;
  color: #1a63ab;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}


.btn:hover {
  color: white;
  text-decoration: none;
  background: #f8a30a;
  border-color: #1a63ab;
}

.btn-primary:focus{
  color:white;
}

.btn-primary:active {
  color: #1a63ab;
}

.buttons {
  display: block;
  padding-bottom: 5px;
}


@media screen and (max-width: 414px){

  .enter-btn {
    width: 300px;
    border-width: 1px solid white;
    vertical-align: middle;
  }

  .grid-container {
    display: grid;
    max-width: 350px;
    //max-height: 200px;
    //margin: 0 auto;
    margin: 5% auto 0 auto;
    //padding-top: 15%;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 100px 100px 100px;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgrey;
  }

  .grid-item-left{
    text-align: left;
    font-size: 12px;
    padding-left: 20px;
  }

  .grid-item-right{
    text-align: right;
    font-size: 12px;
    padding-left: 20px;
  }

  input {
    font-size: 12px;
  }

  .enter-btn {
    width: 350px;
    border-width: 1px solid white;
    vertical-align: middle;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: #f8a30a;
    border-color: white;
    color: #1a63ab;
  }


}

//@media screen and (min-height: 414px)  and (min-width: 736px) {
//  .grid-container {
//    display: grid;
//    max-width: 500px;
//    //max-height: 200px;
//    //margin: 0 auto;
//    margin: 5% auto 0 auto;
//    //padding-top: 15%;
//    grid-template-columns: 1fr 1fr;
//    grid-auto-rows: 100px 100px 100px;
//    align-items: center;
//    justify-content: center;
//    border: 1px solid lightgrey;
//  }
//
//}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
  .grid-container {
    display: grid;
    max-width: 310px;
    margin-top: 30%;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 100px 100px 100px;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgrey;
  }

  .enter-btn {
    width: 310px;
    border-width: 1px solid white;
    vertical-align: middle;
    padding-bottom: 10px;
    margin: 5% 1% 0 2%;
    //margin-top: 10px;
    background-color: #f8a30a;
    border-color: white;
    color: #1a63ab;
  }

}

/* ----------- iPhone 4 and 4S ----------- */
/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
  .Landing-Text {
    margin-top: 5%;
    font-size: 16px;
    font-weight: bold;
    color: #f8a30a;
  }

  .enter-btn {
    width: 440px;
    border-width: 1px solid white;
    vertical-align: middle;
    margin: 2px

  }

  .grid-container {
    display: grid;
    max-width: 440px;
    height: 100px;
    margin-top: 15% auto 0 auto;
    //padding-top: 15%;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 50px 50px 50px;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgrey;
  }
  .grid-item-right input{
    font-size: 12px;
  }

}



/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
  .grid-container {
    grid-auto-rows: 70px 70px 70px;
  }
  .grid-item-left{
    font-size: 12px;
  }

  .grid-item-right{
    font-size: 12px;
  }
}



/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3) {

}

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {

  .grid-container {
    grid-auto-rows: 50px 50px 50px;
    font-size: 12px;
  }

  .grid-item-left{
    font-size: 12px;
  }

  .grid-item-right{
    font-size: 12px;
  }
}

@media only screen
and (max-height: 400px) {
  .grid-container {
    grid-auto-rows: 50px 50px 50px;
    font-size: 12px;
    margin-top: 15%;
  }
}

@media only screen
and (min-height: 401px)  {
  .grid-container {
    margin-top: 20%;
  }
}
