
.form-wrapper {
  font-size: 25px;
  align-items: center;
  color: #1b9c75;
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  background-color: #ffffff; /* or absolute */
 
  
}


form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.container{
  padding: 40px;
  padding-bottom: 200px;
  position: relative;
  color: #1b9c75;
  top:1%;
}