input {
  font-size: 20px;
}

.form-wrapper {
  font-size: 25px;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #1a63ab;
  border-color: #1a63ab;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  background-color: white; /* or absolute */
 
  
}


form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.container{
  position: inherit;
  //display: block;
  //padding: 40px;
  //padding-bottom: 20px;
  //justify-content: center;
  //align-items: center;
  //font-size: 20px;
  //color: #1a63ab;
  //top:1%;
  //border: 1px solid #ccc;
  
}