.TableContainer {
  padding-top: 10px;
  padding-bottom: 10px;
  position: inherit;
}

.Table {
  tbody {
    td {
      border: none;
    }

    tr {
      &:nth-of-type(odd) {
        background-color: white;
      }

      &:nth-of-type(even) {
        background-color: #eeeeee;
      }
    }
  }
}

.Table-Header {
  background-color: #157A5C;
  color: white;

  th {
    border: none;
  }
  
  th:hover {
    background-color: #5acea4;
  }
}