.content-wrap-contacts {
  max-width: 800px;
  width: 85%;
  //min-height: 400px;
  margin: 0 auto;
  padding-top: 100px;
}


.project-item {
  overflow: hidden;
  display: grid;
  grid-template-columns: 2fr 2fr;
  column-gap: 20px;
  text-align: left;
}
.project-item div {
  margin-top: 0;
  color: #1a63ab;
  font-size: 14px;
    //margin-bottom: 100px;
}

@media screen and (max-width:749px){
  header, footer {
    text-align: center;
  }
  .project-item img {
    float: left;
    margin-right: 20px;
  }

  .job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
  .contact-list {
    display: flex;
    justify-content: center;
  }
  .content-wrap-contacts {
    max-width: 800px;
    width: 85%;
    //min-height: 400px;
    margin: 0 auto;
    //padding: 100px;
    padding-top: 200px;
  }

}



/* ----------- iPhone 4 and 4S ----------- */
/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
  .content-wrap-contacts {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding-top: 50px;
  }
}


