
.carousel h1{
  color: #1a63ab;
  font-size: 30px;
  margin-top: 10%;
}
.carousel img {
  height: 200px;
  width: 410px;
  border: 1px solid lightgrey;
}

@media screen  and (max-width: 667px) and (max-height: 375px){
  .carousel img {
    height: 150px;
    width: 310px;
    border: 1px solid lightgrey;
  }
  .carousel h1{
    color: #1a63ab;
    font-size: 20px;
    margin-top: 10%;
  }

}


@media screen  and (max-width: 812px) and (max-height: 414px){
  .carousel img {
    height: 100px;
    width: 205px;
    border: 1px solid lightgrey;
  }
  .carousel h1{
    color: #1a63ab;
    font-size: 20px;
    margin-top: 10%;
  }

}


@media screen  and (max-width: 414px){
  .carousel img {
    height: 70px;
    width: 140px;
    border: 1px solid lightgrey;
  }

  .carousel h1{
    color: #1a63ab;
    font-size: 20px;
  }

}

@media screen  and (max-height: 568px){
  .carousel img {
    height: 100px;
    width: 205px;
    border: 1px solid lightgrey;
    margin-bottom: 5%;
  }

  .carousel h1{
    color: #1a63ab;
    font-size: 20px;
  }
  .carousel h1{
    color: #1a63ab;
    font-size: 14px;
    margin-top: 2%;
  }

}






/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
  .horizontalSlider___281Ls {
    height: 150px;
  }

}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {

}

/* Portrait */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3) {

}

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {

}
