.footer {

  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  height:80px;
}



@media screen and (max-width:749px){

  .footer {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 25px;
    left: 0;
    right: 0;
    height:40px;
    font-size: 10px;
    
  }
}