.topnav {
  overflow: hidden;
  margin: 0;
  vertical-align: middle;
}


.topnav a {
  float: left;
  display: block;
  color: #1a63ab;
  text-align: center;
  font-size: 20px;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

.topnav a:hover {
  //background-color: #ddd;
  color: #f8a30a;
}

.topnav a:active{
  font: bold;
}

.nav-link {
  font-size: 20px;
}

.Header {
  color: white;
  background-color: white;
  height: 100px;
  position: fixed;
  align-items: center;
  display: flex;
  //justify-content: space-between;
  width: 100%;
  margin-top: 0px;
  margin-left: 2px;
  margin-right: 0px;
  padding-top: 0px;
  z-index: 99999999;
}
.Header:active{
  color: #1a63ab;
}

.Header-ExitBtn {
  border-width: 1px solid white;
  paddingLeft: '0px';
  vertical-align: middle;
  //padding: 19px;
  //position: relative;
  //alignItems: 'center';
  //justifyContent: 'center';
  //alignContent: 'space-between';
  //margin-right: auto;
  //margin-right: auto;
}

.header-btn {
  margin-top: 1%;
  margin-right: 2%;
}

.Header-Body {
  width: 100%;
  //max-width: 800px;
  //min-width: 500px;
  //display: flex;
  //flex-direction: row;
  //this distributes normally all elements within header
  display: flex;
  justify-content: space-between;
}



.Header-Icon {
  width: 60px;
  height: 60px;
  fill: #f5634a;
  margin-right: 20px;
  background-color: white;

  //position: fixed;
  //top: 2%;
  //left: 2%;
}

.Header-Title {
  font-size: 24px;
  color: #f5634a;
  position: realtive;
  padding: 1px;
  top: 4%;
  left: 4%;
}


.Header-UserName {
  font-size: 14px;
  margin-right: 20px;
}


.Course-Header{
  //position: relative;
  margin-top: 0%;
  margin-bottom: 0px;
  text-align: start;
  margin-left: 20px;
  color: #1a63ab;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
  width: 600px;
}
.Course-Header a{
  color: #1a63ab;
}
.Course-Header a:hover{
  color: #f8a30a;
}

.active-course-header{
  font-weight: bold;
}