.Header {
  color: white;
  background-color: white;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
}

.Header-ExitBtn {
  border-width: 1px solid white;
  paddingLeft: '20px';
  //padding: 19px;
  position: relative;
  alignItems: 'center';
  justifyContent: 'center';
  alignContent: 'space-between';

}

.Header-Body {
  width: 100%;
  //max-width: 800px;
  //min-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Header-Icon {
  width: 60px;
  height: 60px;
  fill: #1b9c75;
  margin-right: 5px;
  position: fixed;
  top: 2%;
  left: 2%;
}

.Header-Title {
  font-size: 24px;
  color: #1b9c75;
  position: fixed;
  top: 4%;
  left: 2%;
}

.Header-UserName {
  font-size: 14px;
  margin-right: 20px;
}


