.topnav {
  overflow: hidden;
  margin: 0 auto;
  vertical-align: middle;
}


.topnav a {
  display: block;
}


.topnav a:hover {
  color: #f8a30a;
}


.nav-link {
  font-size: 20px;
}

.Header {
  color: white;
  background-color: white;
  position: sticky;
  width: 100%;
  margin-top: 0;
  margin-left: 2px;
  margin-right: 0;
  padding-top: 0;
  z-index: 1  ;
  clear: both;
  top: 0px;
  //align-items: center;
  //display: flex;
  //justify-content: space-between;
  //height: 100px;
}


.Header-ExitBtn {
  border-width: 1px solid white;
  vertical-align: middle;
  //float: left;
}

.header-btn {
  margin-top: 1%;
  margin-right: 2%;
}

.Header-Body {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Header-Body div {
  text-align: start;
  padding-left: 6px;
  padding-top: 5px;
  float: left;
}


.topnav a {
  float: left;
  display: block;
  color: #1a63ab;
  line-height: 0.9;
  text-align: center;
  font-size: 20px;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}


.Header-Icon {
  width: 60px;
  height: 60px;
  fill: #f5634a;
  margin-right: 20px;
  background-color: white;
}

.Header-Title {
  font-size: 24px;
  color: #f5634a;
  position: realtive;
  padding: 1px;
  top: 4%;
  left: 4%;
}


.Header-UserName {
  font-size: 14px;
  margin-right: 20px;
}

.Course-Header a {
  color: #1a63ab;
  padding-left: 40px;
}

.Course-Header a:hover {
  color: #f8a30a;
}

.active-course-header {
  font-weight: bold;
  color: #1a63ab;
  padding-bottom: 20px;

}

.Course-Header {
  margin: 0 auto;
  //padding-right: 40px;

  color: #1a63ab;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.Teacher-Header {
  float: left;
  align-items: center;
  display: flex;
  justify-content:flex-start;
  margin-left: 30px;
  margin-top: 10px;
  width: 100%;
}

.Teacher-Header p{
  color: #1a63ab;
  padding-left: 30px;
}

.Teacher-Header a{
  color: #1a63ab;
  padding-left: 30px;
}
//
//@media screen and (max-width: 749px) {
//
//
//  .Header-ExitBtn {
//    border-width: 1px solid white;
//    align-content: start;
//    text-decoration: none;
//    vertical-align: middle;
//    display: inline-block;
//    margin-right: 5px;
//    font-size: 12px;
//  }
//
//  .topnav a {
//    color: #1a63ab;
//    text-align: center;
//    font-size: 12px;
//    margin: 0 0;
//    padding: 5px;
//    text-decoration: none;
//  }
//
//  .topnav {
//    overflow: hidden;
//    //display: flex;
//    margin: 0 auto;
//    vertical-align: middle;
//  }
//
//  .Course-Header {
//    margin-top: 0;
//    float: flex;
//    text-align: center;
//    padding-left: 10px;
//    padding-right: 10px;
//    color: #1a63ab;
//    display: flex;
//    font-size: 10px;
//  }
//
//  .Header-Body {
//    width: 100%;
//    justify-content: space-between;
//  }
//
//  .Header-Body div {
//    text-align: start;
//    padding-left: 6px;
//    padding-top: 5px;
//    float: left;
//  }
//
//  .active-course-header {
//    font-weight: bold;
//    margin: 0;
//  }
//
//  .Course-Header a {
//    color: #1a63ab;
//    padding-left: 10px;
//  }
//
//}

@media only screen and (min-width: 300px) and (max-width: 1000px) {
  .topnav a {
    font-size: 14px;
  }

  .btn{
    font-size: 10px;
  }

  .Course-Header a {
    //font-size: 12px;
  }

}



/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {


  .Course-Header {
    float: flex;
    text-align: center;
    color: #1a63ab;
    display: flex;
    font-size: 9px;
    margin-top: 10%;
  }

  .Course-Header  {
    padding-left: 0;
  }

  .Header-ExitBtn {
    border-width: 1px solid white;
    align-content: start;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
    font-size: 8px;
  }
  .Header-Body div {
    font-size: 8px;
    padding-left: 3px;
  }

  .Header-Body div a img {
    width: 60px;
    height: 47px;
    margin-top: 1%;

  }

  .topnav{
    width: 430px;
    margin: 0;
    margin-top: 1%;
  }

  .topnav a{
    padding: 2px;
  }

  .header-btn {
    margin-top: 1%;
  }
}


/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3) {

}

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {

  .topnav a {
    font-size: 12px
  }

  .Header-ExitBtn {
    font-size: 12px;
  }

   img{
    width: 70px;
    height: 55px;
  }

  .Course-Header {
    font-size: 12px;
  }
}



/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
  .Course-Header{
    margin-top: 15%;
  }

}





/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
  .Course-Header a {
    padding-left: 10px;
  }

}

/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
  .Course-Header{
    margin-top: 10%;
  }
  .Course-Header a {
    font-size: 12px;
  }


  .topnav a{
    font-size: 12px;
    padding-left: 5px;
  }

  .header-btn{
    font-size: 12px;
  }
}
