.Landing-Text {
  font-size: 50px;
  color: #f8a30a;
}

.Landing-Text-Blue {
  font-size: 50px;
  color: #1a63ab;
}

.team {
  align-content: center;
}
.team img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}


@media screen and (min-width:750px) {
  div.gallery{
    display: flex;
  }

  .Body {
    padding-top: 100px;
    margin:0; 
    height:100%;
    position: relative
  }
}

@media screen and (max-width:749px){
  .Landing-Text{
    font-size: 16px;
    font-weight: bold;
  }

  .Body {
   // padding-top: 130px;
    height:100%;
    position: relative

  }

}
