.table{
  width: 90%;
  height: 10px;
  margin-left: 30px;
  table-layout: fixed;
  //margin-top: 10px;
  text-align: left;
  //display: block;
  border-color: #cccccc;
  //align-content: flex-end;
  //margin-left: 40px;

}

.margin-left{
  margin-left: 10px;
}

.scroll-pane{
  width: 90%;
  //scroll table width 
  //height: 2px;
  margin-left: 20px;
  //text-align: left;
  //overflow: scroll;
  //display: block;
  //padding-top: 10px;
}

tbody {
  //this value lte the scroll
  overflow-y: scroll;
  display: block;
  max-height: 30em;    // For example
  height: 350px;
  width: 90%;
  position: inherit;

}


thead {
  display: table;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  width: 90%;     // Fill the containing table
  position: inherit;
}

tbody tr{
  align: left;
  width: 90%;     // Fill the containing table
}

tbody tr th{
  padding-right: 20px;
  //display: table;
  align: left;
  width: 90%;     // Fill the containing table
  border: 1px solid blue;

}
