//
.margin-left{
  margin-left: 50px;
}


table {
  border-spacing: 1;
  border-collapse: collapse;
  background:white;
  border-radius:6px;
  overflow-y:scroll;
  //max-width:800px;
  display:block;
  height: 400px;
  margin:0 0;
  position:relative;
  text-align: left;
  width:90%;
}

table, th, td {
  border-left: 1px  solid darkgrey;
  border-right: 1px  solid darkgrey;
  border-bottom: 1px  solid darkgrey;;
}


th, td {
  padding: 0.22rem;
  padding-left: 10px;
}


th {
  background:#FFED86;
  //width:90%;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
}