.Lessons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Lessons-HeaderBody {
  max-width: 1300px;
}

.Lessons-Body {
  margin-top: 2%;
  flex: 1;
  max-width: 1300px;
  min-width: 700px;
}

.Lessons-Filter {
  margin-top: 40px;
}

.Lessons-FilterForm {
  display: flex;
  justify-content: row;
}

.Lessons-FilterField {
  margin-left: 12px;
}


.Lessons-SearchBtn {
  height: 35px;
  margin-left: 12px;
  line-height: 1;
  background-color: #039BE5
}

.Lessons-SearchBtnIcon {
  height: 20px;
  width: 20px;
  fill: white;
}